* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face{
    font-family: PopLight;
    src: url('./fonts/Poppins-Light.ttf');
}

@font-face{
    font-family: PopRegular;
    src: url('./fonts/Poppins-Regular.ttf');
}


body {
    font-family: PopLight;
}

.container {
    color: white;
    background: radial-gradient(rgba(18, 55, 109, 1),rgba(1, 14, 43, 1), rgba(0, 0, 0, 1));
}


nav {
    min-height: 10vh;
    width: 95%;
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;

    .logo {
        display: flex;
        margin-left: 10px;

        .logo-text {
            align-self: center;
            padding: 0 20px;

            a {
                text-decoration: none;
                color: white;
            }
        }
    }

    .menu {
        cursor: pointer;
        z-index: 2;
    }
}

.nav-open {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 50vh;
    background: white;
    z-index: 1;
    color: black;
    display: grid;
    grid-template-columns: 5% 1fr 1fr 1fr 5%;
    justify-items: center;
    align-items: center;
    transform: translateY(-100%);

    h3 {
        font-size: 28px;
        padding-bottom: 40px;
    }

    p {
        font-size: 18px;
    }

    .gallery {
        grid-column: 2/3;
    }

    .contact {
        grid-column: 3/4;
    }

    .social {
        grid-column: 4/5;
    }

}

.burger, .logo {
    z-index: 2;
}

    .logo:hover {
    cursor: pointer;
    animation: fade 0.6s ease-in-out infinite alternate;
    }

    .page {
    min-height: 90vh;
    display: grid;
    grid-template-columns: 5% 1fr 1fr 1fr 5%;
    }

    .walter, .skyler {
        position: absolute;
        bottom: 0%;
        left: 0%;
        width: 100%;
        opacity: 0;
        pointer-events: none;
    }


    .hero {
    overflow: hidden;
    height: 500px;
    align-self: center;
    justify-content: center;
    display: flex;

    a {
        display: flex;
    }

    img 
    {
        height: 500px;
        transition: transform 0.7s ease-out;
        cursor: pointer;
     }

    .character-right
        {
        transform: translate(0%, 15%);
        }

    .character-left 
    {
        transform: translate(0%, -15%);
        }
    }

    .hero:hover .character-right   
    {
    transform: translate(0%, 0%);
    }

    .hero:hover .character-left {
    transform:translate(0%,0%);
    }

    .details {
    grid-column: 2/3;
    align-self: end;
    text-align: center;

    h1 {
        font-size: 50px;
        font-family: PopRegular;
    }

    h2 {
        font-size: 32px;
        padding: 20px 0px;
    }
}

.pages {
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);

    div {
       display: flex; 
       justify-content: space-between;
       align-items: center;
    }

    h3 {
        font-size: 24px;
        padding: 30px;
    }

    svg {
        cursor: pointer;
        transform: scale(1.75);

        .active {
        opacity: 0.25;
        }

    }
}




.pages svg:hover {
    animation: dot 0.5s ease-in-out infinite alternate;
}


@keyframes dot {
    0% {
       transform: scale(1.75)
    }
    100% {
        transform: scale(3.5)
    }
}

@keyframes fade {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }
}



.container-story {
    background: linear-gradient(rgba(18, 9, 9, 1), rgba(202, 50, 50, 1));

    img {
        max-width: 100%;
        border-radius: 10px;
      }
}

.character-selection {
 position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    min-height: 5rem;

    ul {
    position: relative;
    display: flex;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    font-family: PopRegular;
    color: white;
    font-size: 20px;

        li {
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        opacity: 0.5;
       
        }
        .active {
        opacity: 1;
        }
    }
}

.story {
    width: 80%;
    margin: auto;
    margin-top: 5em;

    p {
        font-size: 18px;
        text-indent: 2.5%;
        color: white;
        text-shadow: 5px 5px 10px black;
    }
}


.ipsType_right {
    text-align: right;
  }
  .ipsType_center {
    text-align: center;
  }
  .cInnerContent {
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
  }
  .ipsSpacer_bottom_double {
    padding-bottom: 30px;
  }
  .ipsGrid {
    display: inline-block;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
  }
  .ipsGrid::before, .ipsGrid::after {
    display: table;
    content: "";
    line-height: 0;
  }
  .ipsGrid > [class*="ipsGrid_span"] {
    display: block;
    width: 100%;
    min-height: 30px;
    box-sizing: border-box;
  }
  .ipsGrid > .ipsGrid_span5 {
    width: 40.42553191489362%;
  }
  .ipsGrid > .ipsGrid_span7 {
    width: 57.44680851063829%;
  }
  .ipsGrid > [class*="ipsGrid_span"] {
    float: left;
    margin-left: 2%;
  }
  .ipsGrid > [class*="ipsGrid_span"]:first-child {
    margin-left: 0;
  }
  .feature {
    display: flex;
    align-items: center;
  }
//   .card {
//     border: 1px solid #cccccc;
//     border-radius: 8px;
//     overflow: hidden;
//     background: #ffffff;
//     box-shadow: 1px 1px 5px 1px #CCCCCC;
//     transition: 0.3s;
//   }
  .featured-image-container .card {
    padding: 10px;
    height: 0;
    padding-bottom: calc(100% - 10px);
  }
  h2.heading_large {
    font-size: 1.8em;
  }
  
  .header-section {
    margin: 200px auto;
  }
  
  .gs_reveal {
    opacity: 0;
    visibility: hidden;
    transition: transform 0s;
  }