* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: PopLight;
  src: url("./fonts/Poppins-Light.ttf");
}

@font-face {
  font-family: PopRegular;
  src: url("./fonts/Poppins-Regular.ttf");
}

body {
  font-family: PopLight;
}

.container {
  color: white;
  background: radial-gradient(#12376d, #010e2b, black);
}

nav {
  min-height: 10vh;
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 10px;
}

nav .logo .logo-text {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 0 20px;
}

nav .logo .logo-text a {
  text-decoration: none;
  color: white;
}

nav .menu {
  cursor: pointer;
  z-index: 2;
}

.nav-open {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 50vh;
  background: white;
  z-index: 1;
  color: black;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5% 1fr 1fr 1fr 5%;
      grid-template-columns: 5% 1fr 1fr 1fr 5%;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.nav-open h3 {
  font-size: 28px;
  padding-bottom: 40px;
}

.nav-open p {
  font-size: 18px;
}

.nav-open .gallery {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.nav-open .contact {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
}

.nav-open .social {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
}

.burger, .logo {
  z-index: 2;
}

.logo:hover {
  cursor: pointer;
  -webkit-animation: fade 0.6s ease-in-out infinite alternate;
          animation: fade 0.6s ease-in-out infinite alternate;
}

.page {
  min-height: 90vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5% 1fr 1fr 1fr 5%;
      grid-template-columns: 5% 1fr 1fr 1fr 5%;
}

.walter, .skyler {
  position: absolute;
  bottom: 0%;
  left: 0%;
  width: 100%;
  opacity: 0;
  pointer-events: none;
}

.hero {
  overflow: hidden;
  height: 500px;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero img {
  height: 500px;
  -webkit-transition: -webkit-transform 0.7s ease-out;
  transition: -webkit-transform 0.7s ease-out;
  transition: transform 0.7s ease-out;
  transition: transform 0.7s ease-out, -webkit-transform 0.7s ease-out;
  cursor: pointer;
}

.hero .character-right {
  -webkit-transform: translate(0%, 15%);
          transform: translate(0%, 15%);
}

.hero .character-left {
  -webkit-transform: translate(0%, -15%);
          transform: translate(0%, -15%);
}

.hero:hover .character-right {
  -webkit-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
}

.hero:hover .character-left {
  -webkit-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
}

.details {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  text-align: center;
}

.details h1 {
  font-size: 50px;
  font-family: PopRegular;
}

.details h2 {
  font-size: 32px;
  padding: 20px 0px;
}

.pages {
  position: absolute;
  right: 5%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.pages div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pages h3 {
  font-size: 24px;
  padding: 30px;
}

.pages svg {
  cursor: pointer;
  -webkit-transform: scale(1.75);
          transform: scale(1.75);
}

.pages svg .active {
  opacity: 0.25;
}

.pages svg:hover {
  -webkit-animation: dot 0.5s ease-in-out infinite alternate;
          animation: dot 0.5s ease-in-out infinite alternate;
}

@-webkit-keyframes dot {
  0% {
    -webkit-transform: scale(1.75);
            transform: scale(1.75);
  }
  100% {
    -webkit-transform: scale(3.5);
            transform: scale(3.5);
  }
}

@keyframes dot {
  0% {
    -webkit-transform: scale(1.75);
            transform: scale(1.75);
  }
  100% {
    -webkit-transform: scale(3.5);
            transform: scale(3.5);
  }
}

@-webkit-keyframes fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.container-story {
  background: -webkit-gradient(linear, left top, left bottom, from(#120909), to(#ca3232));
  background: linear-gradient(#120909, #ca3232);
}

.container-story img {
  max-width: 100%;
  border-radius: 10px;
}

.character-selection {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 5rem;
}

.character-selection ul {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  list-style-type: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  font-family: PopRegular;
  color: white;
  font-size: 20px;
}

.character-selection ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
  opacity: 0.5;
}

.character-selection ul .active {
  opacity: 1;
}

.story {
  width: 80%;
  margin: auto;
  margin-top: 5em;
}

.story p {
  font-size: 18px;
  text-indent: 2.5%;
  color: white;
  text-shadow: 5px 5px 10px black;
}

.ipsType_right {
  text-align: right;
}

.ipsType_center {
  text-align: center;
}

.cInnerContent {
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
}

.ipsSpacer_bottom_double {
  padding-bottom: 30px;
}

.ipsGrid {
  display: inline-block;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.ipsGrid::before, .ipsGrid::after {
  display: table;
  content: "";
  line-height: 0;
}

.ipsGrid > [class*="ipsGrid_span"] {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.ipsGrid > .ipsGrid_span5 {
  width: 40.42553191489362%;
}

.ipsGrid > .ipsGrid_span7 {
  width: 57.44680851063829%;
}

.ipsGrid > [class*="ipsGrid_span"] {
  float: left;
  margin-left: 2%;
}

.ipsGrid > [class*="ipsGrid_span"]:first-child {
  margin-left: 0;
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.featured-image-container .card {
  padding: 10px;
  height: 0;
  padding-bottom: calc(100% - 10px);
}

h2.heading_large {
  font-size: 1.8em;
}

.header-section {
  margin: 200px auto;
}

.gs_reveal {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: -webkit-transform 0s;
  transition: -webkit-transform 0s;
  transition: transform 0s;
  transition: transform 0s, -webkit-transform 0s;
}
/*# sourceMappingURL=styles.css.map */